//color
$main-color: #0a9b94
$text-color: #444
$link-color: $main-color
$accent-color: #f4a321
$base-color: #f6f6f6
$line-color: rgba(0, 0, 0, .2)
$thin-gray: #f6f6f6
$sub-text-color: rgba($text-color, .6)
$icon-color: rgba(black, .2)

//font
$main-font: 'Helvetica Neue', Arial, 'メイリオ', Meiryo ,'ヒラギノ角ゴPro W3' ,'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif

$helvetica: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif

$num-font: 'Titillium Web', 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif
