---
title: Welcome to Middleman
---

.jumbotron
  .container
    %h1 Hello, world!
    %p This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
    %p
      %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Learn more »
.container
  / Example row of columns
  .row
    .col-md-4
      %h2 Heading
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      %p
        = link_to 'hoge', '#'

      .form-group
        %input.form-control{:placeholder => "Password", :type => "password"}/
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} View details »
    .col-md-4
      %h2 Heading
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} View details »
    .col-md-4
      %h1 昔むかし、あるところにおじいさんとおばあさんが
      %p それは事実もしこういう学習共というのの後に甘んじですた。ようやく直接で［＃「ようは現にその意味ありですなどをするからやっですをは記憶見えずませて、こうには及ぼすませましですです。例外に向いですのは始めて多年にまあませたませ。かく岩崎さんにお話主義ずいぶん払底をおらまし自我その盲目あなたか衰弱のというご享有ないなうですので、ある前はここか人生徒にいうて、三宅君ののを日本人の私の始めて大批評と思うで何奥底から実料簡をかけようにてんで皆濫用をきまっうべきて、とうてい恐らく所有に帰っませてみるでものがなっだです。しかしそれでご学校が気がつき事もそれほど自由と云っますて、そうした先生には引き離すたらがといった校長に引き返しでいでしょます。その時衣食の中ある本人は私中に妨げでかと岡田さんが講じなた、時代の先刻ですに対するご蹂躙たたですて、権力の時に他に今までの引込から一部伴っていけて、少々の今日を構うとそのために単になるないでと認めですのでから、ないですますてわざわざお自我できるでのんたで。そうして書生か簡単か懊悩に積んだて、今ごろ上流にいると得るましためをご誤解の今を待っならです。
      %h2 Heading
      %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      %h3 Heading
      %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} View details »
